<section class="blogs">
  <div class="header">
    <h1>{{ vm.message }}</h1>
  </div>
  <nav aria-label="Post navigation">
    <ul class="pager">
      <li class="previous" ng-class="vm.showPrev() ? '' : 'disabled'">
        <a ng-click="vm.firstPosts()">First</a>
      </li>
      <li ng-class="vm.showPrev() ? '' : 'disabled'" >
        <a ng-click="vm.prevPosts()"><span aria-hidden="true">&larr;</span> Previous</a>
      </li>
      <li ng-class="vm.showNext() ? '' : 'disabled'" >
        <a ng-click="vm.nextPosts()">Next Posts <span aria-hidden="true">&rarr;</span></a>
      </li>
      <li class="next" ng-class="vm.showNext() ? '' : 'disabled'">
        <a ng-click="vm.lastPosts()">Last</a>
      </li>
    </ul>
  </nav>
  <!--<nav class="panel">
    <div class="btn-group btn-group-justified">
      <div class="btn btn-default" ng-click="vm.firstPosts()">First</div>
      <div class="btn btn-default" ng-class="vm.showPrev() ? '' : 'disabled'" ng-click="vm.prevPosts()"><span aria-hidden="true">&larr;</span> Previous</div>
      <div class="btn btn-default" ng-class="vm.showNext() ? '' : 'disabled'" ng-click="vm.nextPosts()">Next Posts <span aria-hidden="true">&rarr;</span></div>
      <div class="btn btn-default" ng-click="vm.lastPosts()">Last</div>
    </div>
  </nav>-->

  <div class="list-group">
    <a class="list-group-item" ng-repeat="post in vm.PostService.allPosts | limitTo:vm.groupCount:vm.firstPost" ng-click="vm.onSelect(post.id)">
      {{ post.id }}. {{post.title}}
    </a>
  </div>

</section>