/* styles in src/style directory are applied to the whole page */
@media screen and (max-width: 480px) {
   
}

body {
  color: black;
  /*padding-top: 50px;*/
}

a {
  color: #03A9F4;
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  /*text-align: center;*/
  margin-top: 50px;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.hamburger {
  position: relative;
  display: block;
  height: 20px;
  width: 20px;
  border-top: 4px solid #428bca;
  border-bottom: 4px solid #428bca;
}

.hamburger div {
  position: relative;
  display: block;
  top: 4px;
  height: 0;
  width: 20px;
  border-top: 4px solid #428bca;
}

.hamburger:hover .hamburger div:hover {
  border-color: #333;
}

.nav {
  padding-top: 5px;
}

.capitalize {
  text-transform: capitalize;
}