<section class="blog-details">
  <div class="text-left">

    <nav aria-label="Post Navigation">
      <ul class="pager">
        <li ng-class="vm.showPrev() ? '' : 'disabled'">
          <a ng-click="vm.prevPost()" ><span aria-hidden="true">&larr;</span> Previous</a>
        </li>
        <li ng-class="vm.showNext() ? '' : 'disabled'">
          <a ng-click="vm.nextPost()" >Next <span aria-hidden="true">&rarr;</span></a>
        </li>
      </ul>
    </nav>

  </div>
  <div class="header">
    <h1>{{ vm.post.id }}. {{ vm.post.title }}</h1>
  </div>
  <p>
    {{ vm.post.body }}
  </p>
  <footer class="navbar-default">
    <div class="container-fluid">
      <p class="text-left">Author: {{ vm.user.username }} IRL {{ vm.user.name }}</p>
    </div>
  </footer>
</section>